@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

table,td,th{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 0 0.5em 0 0.5em;
    width: 900px;
}

td{
    height: 30px;
    text-align: center;
}
form{
    margin: 3px;
}

input[type=text]{
    width: 9%;
    height: 30px;
}

input[type=number]{
    height: 30px;
}

select{
    height: 30px;
}

:root {
    --color-red: #ff7675;
    --color-blue: #0984e3;
    --color-green: #00b894;
    --color-green-hover: #098169;
    --color-yellow: #fdcb6e;
    --color-simpleblue: #00CED1;
    --color-hardred: #B22222;
}


.green{
    background-color: var(--color-green);
}

.red{
    background-color: var(--color-red);
}

.blue{
    background-color: var(--color-blue);
}

.yellow{
    background-color: var(--color-yellow);
}


.content {
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 4px;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    overflow: auto;
}


.create {
    padding: 30px;
    background: #eeeeee;
    border-radius: 4px;
    margin-bottom: 10px;
}

.create table{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
}

.form > * {
    width: 100%;
}

.form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1em;
}

.button {
    padding: 5px;
    color: #ffffff;;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.3s;
    grid-column-start: 1;
    grid-column-end: 3;
}

.btnCad{
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.btnFiltro{
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
}

.btnEdit{
    background-color: var(--color-simpleblue);
    border: 1px solid var(--color-simpleblue);
}

.btnDelete{
    background-color: var(--color-hardred);
    border: 1px solid var(--color-hardred);
}



